@import "./global.css";

@import "./css-files/bookmark.css";
@import "./css-files/card-list.css";
@import "./css-files/card.css";
@import "./css-files/header/header.css";
@import "./css-files/navigation.css";
@import "./css-files/profile.css";
@import "./css-files/counter-list.css";
