.new-card-form {
  width: 100%;
  max-width: 400px;
}
.new-card-form__field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}
.card-container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
